{{@ include ('../common/html', {type:'首页'})}}
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="./amazeui/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"></div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: &#39;#topbar-collapse&#39;}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li>
                <a href="../" class="tpl-header-list-link">
                    <span class="tpl-header-list-ico-out-size">首页</span>
                </a>
            </li>
            <li>
                <a href="works" class="tpl-header-list-link">
                    <span class="tpl-header-list-ico-out-size">开发者</span>
                </a>
            </li>
            <li>
                <a href="users" class="tpl-header-list-link">
                    <span class="tpl-header-list-ico-out-size">发布者</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="login-banner"></div>
{{include '../common/footer'}}